.main {
    background: linear-gradient(to bottom, #f4bc94, #ffffff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image {
    position: absolute;
    top: 5%;
    right: 20%;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    height: auto;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.3);
    display: flex;
}

.headers {
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
    max-width: 70%;
}

.header1 {
    display: flex;
    font-size: 40px;
    font-weight: 600;
    gap: 10px;
}

.secondHeader {
    display: flex;
    font-size: 32px;
    font-weight: 400;
    gap: 10px;
    text-align: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #333333;
}

.input {
    padding: 16px;
    width: 400px;
    background-color: #ffffff;
    border: transparent;
    border-radius: 20px;
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    gap: 15px;
}

.submit {
    border-radius: 12px;
    color: white;
    background-color: #5E8C5F;
    padding: 10px 80px;
    font-size: 18px;
}

.submit:hover {
    background-color: #379838;
    transform: scale(1.05);
    cursor: pointer;
}

.backLogin {
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}